.listTasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
  height: 4.5rem;
  width: 100%;
}

.listTasks p {
  padding: 1rem;
}

.listTasks footer button {
  background-color: transparent;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
}

.listTasks footer {
  padding: 1rem 0.75rem 2rem 1rem;
  justify-content: center;
  align-items: center;
}

.checkList input[type="checkbox"] {
  display: none;
}

.checkList {
  padding: 1rem 0.75rem 2rem 1rem;
  justify-content: center;
  align-items: center;
}

.checkList label{
  display: flex;
  align-items: center;
  justify-content: center;  
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--blue);
}