.listTasks {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray-500);
  color: var(--gray-100);
  width: 100%;
}

.paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listTasks p {
  padding: 0.5rem 0;
  word-break: break-all;
}

.listTasks footer button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-300);
  background-color: transparent;
  line-height: 0;
  height: 1.5rem;
  width: 1.5rem;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.listTasks footer button:hover {
  color: var(--danger);
  background-color: var(--gray-00);
  box-shadow: 0px 0px 10px var(--gray-400);
}

.listTasks footer {
  padding: 1rem 1rem 2rem 0.75rem;
  justify-content: center;
  align-items: center;
}

.checkList {
  padding: 1rem 0.75rem 2rem 1rem;
}

.checkList input[type="checkbox"] {
  display: none;
}

.checkList input:not(:checked)+label:hover::before {
  box-shadow: inset 0px 0px 12px var(--blue-dark);
  opacity: 0.8;
}

.checkList label::before {
  content: "";
  display: block;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  border: 3px solid var(--blue);
}

.checkList input:checked+label::before {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='%23f2f2f2' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72 104 184 48 128' fill='none' stroke='%23f2f2f2' stroke-linecap='round' stroke-linejoin='round' stroke-width='16'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}

.checkList input:checked+label:hover::before {
  border-color: var(--purple);
  background-color: var(--purple);
}