.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  position: relative;

  max-width: 70rem;
  margin: -1.857rem auto;
  padding: 0 1rem;
  background-color:transparent;
}

@media (max-width: 768px) {
  html{
    font-size: 87.5%;
  }
  .wrapper{
    grid-template-columns: 1fr;
  }
}

