.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  position: relative;
  max-width: 46rem;
  margin: -1.685rem auto;
  padding: 0 1rem;
  background-color: transparent;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}